
body {
  margin: 0;
  text-align: center;
  background-color: #FFF9E6;
  font-family: "Nunito", sans-serif;
  color: #333;
}

h1 {
  font-family: "Fredoka", cursive;
  font-size: 4rem;
  color: #FB8500;
  margin-top: 60px;
}

h2 {
  font-family: "Fredoka", cursive;
  font-size: 2.2rem;
  color: #FFB703;
  margin-bottom: 20px;
}

h3 {
  font-family: "Nunito", sans-serif;
  color: #219EBC;
}

p {
  width: 60%;
  margin: 20px auto;
  line-height: 1.5;
  font-size: 1.1rem;
}

hr {
  border: dotted #FFB703 6px;
  border-bottom: none;
  width: 5%;
  margin: 60px auto;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: "Fredoka", cursive;
  font-size: 1.8rem;
  color: #FB8500;
}

.sun-logo {
  width: 80px;    
  height: 80px; 
  object-fit: contain;
}

.sun-logo:hover {
  transform: rotate(360deg) scale(1.5);
  transition: 1.2s;
}

.shaked-img {
  width: 200px;
  border-radius: 50%;
  margin-top: 20px;
  border: 6px solid white;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 1);
}

.excel-img {
  width: 100%;
  max-width: 300px;
  height: auto;
  display: block;
  margin: 20px auto;
  border-radius: 12px;
}


.btn {
  background-color: #FB8500;
  color: white;
  font-family: "Nunito", sans-serif;
  padding: 12px 22px;
  border-radius: 8px;
  font-size: 1rem;
  display: inline-block;
  margin-top: 20px;
}

.btn:hover {
  background-color: #FFB703;
}


.skill-card {
  width: 50%;
  background: white;
  margin: 20px auto;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
}

.skill-card h3 {
  margin-bottom: 10px;
}

.contact-section li {
  margin: 10px 0;
  font-size: 1.1rem;
}

.contact-section a {
  color: #219EBC;
  text-decoration: none;
}

.contact-section a:hover {
  text-decoration: underline;
}

footer {
  background-color: #FFE8B6;
  padding: 20px;
}